<ng-container>    
    <h1>Formulário</h1>
    <form >
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="nome" name="name">

       <label for="phone">Telefone</label>
        <input type="text" class="form-control" id="phone"
       required
       [(ngModel)]="telefone" phone="telefone">
       <button (click)="limpar()">Limpar</button>    
       <button (click)="salvar()">Salvar</button>

       {{nome}}-{{telefone}}

    </form>
</ng-container>